<html>
    <head>
        <title>CWDATA</title>
        <link rel="stylesheet" href="coursewisestudent.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>

        <form action="/coursereport" method="get">
        <%- include("nav.ejs") %>
        <div class="container">
            <label for="choose" >Choose Course</label>
            <select name="cid" id="choose" onchange="this.form.submit()" >
                    <% ccdata.forEach((item)=>{%>
                 <option value="<%= item.cid%>"><%= item.cname%></option>
                 <option value="<%= item.cid%>"><%= item.cname%></option>
                  <%
                   });
                   %>
                  
            </select>

         
            <table border="2" align="center" style="width: 100%;">
                <tr>
                    <th>SNAME</th>
                    <th>SEMAIL</th>
                    <th>SCONTACT</th>
                    <th>CNAME</th>
                    <th>DELETE</th>
                    <th>UPDATE</th>
                </tr>
             
                <% if(ssdata && ssdata.length >0)
                {
                     ssdata.forEach((item)=>{
                 %>
                 <tr>
                    <td><%=item.sname%></td>
                    <td><%=item.semail%></td>
                    <td><%=item.scontact%></td>
                    <td><%=item.cname%></td>
                    <td><a href="/delByIdreport?srid=<%=item.sid%>"><i class="fa-solid fa-trash"></i></a></td>
                    <td><a href=""><i class="fa-solid fa-pen-to-square"></i></a></td>
                 </tr>
                <%
                   });
                }else{
                 %>
                    <td colspan="6"><h2>there is no data available</h2></td>
                 <%
                 }
                 %>
                  
            </table>

          

        </div>
    </form>
    </body>
</html>