<html>
    <head>
        <title>View Course</title>
        <link rel="stylesheet" href="viewcourse.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script type="text/javascript" src="courseajax.js"></script>
    </head>

    <body>
        <%- include("nav.ejs")%>
        <div class="container">
            <input type="text" placeholder="search..." style="width: 100%;height: 36px;" onkeyup="courseajax(this.value)">
            &nbsp;&nbsp;
            <table border="2" align="center" style="width: 100%; ">
                  <tr>
                    <th>SR NO</th>
                    <th>COURSE NAME</th>
                    <th>DELETE</th>
                    <th>UPDATE</th>
                  </tr>
                  <tbody id="tblbody">
                      <% if(data.length >= 0)
                      {
                        data.forEach((item,index)=>{
                       %>
                        <tr>
                       <td><%= (index+1) %></td> 
                       <td><%= item.cname %></td>
                       <td><a href="/delById?csid=<%= item.cid%>"><i class="fa-solid fa-trash"></i></a></td>
                       <td><a href="/updateByID?csid=<%= item.cid%>"><i class="fa-solid fa-pen-to-square"></i></a></td>
                    </tr>
                         
                       <%
                         });
                      }else{
                       
                       %>
                      <tr>
                            <td colspan="4"><h2 >There is no data is present</h2></td>
                         </tr>
                    <%
                  
                   }
                   %>
                </tbody>
            </table>
        </div>
    </body>
</html>